/doc/~$话务系统.mmap.~$lock
/interface/sms/sdk_20140319/HTTP方式/建周短信平台http接口说明文档.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/SDK彩信接口说明.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(ASP)/11.asp
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(ASP)/22.asp
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(ASP)/JZSms.dll
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(ASP)/建周短信平台WebService说明文档.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp.sln
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp.suo
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Form1.Designer.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Form1.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Form1.resx
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/JZSMS_CSharp.csproj
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Program.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Properties/AssemblyInfo.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Properties/Resources.Designer.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Properties/Resources.resx
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Properties/Settings.Designer.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/Properties/Settings.settings
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/SMS.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/bin/Debug/JZSMS_CSharp.exe
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/bin/Debug/JZSMS_CSharp.pdb
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/bin/Debug/JZSMS_CSharp.vshost.exe
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/bin/Debug/JZSMS_CSharp.vshost.exe.manifest
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/bin/Debug/JZSms.dll
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/Debug/JZSMS_CSharp.Form1.resources
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/Debug/JZSMS_CSharp.Properties.Resources.resources
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/Debug/JZSMS_CSharp.csproj.FileListAbsolute.txt
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/Debug/JZSMS_CSharp.csproj.GenerateResource.Cache
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/Debug/JZSMS_CSharp.exe
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/Debug/JZSMS_CSharp.pdb
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/JZSMS_CSharp/obj/JZSMS_CSharp.csproj.FileList.txt
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Dll方式(不支持个性化发送和彩信发送)/使用VS2005的请先转换.txt
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS.sln
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS.suo
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Form1.Designer.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Form1.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Form1.resx
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/JianzhouWS.csproj
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/JianzhouWS.csproj.user
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Program.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Properties/AssemblyInfo.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Properties/Resources.Designer.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Properties/Resources.resx
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Properties/Settings.Designer.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Properties/Settings.settings
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Service References/JianzhouWebservice/BusinessServiceService.wsdl
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Service References/JianzhouWebservice/Reference.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Service References/JianzhouWebservice/Reference.svcmap
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Service References/JianzhouWebservice/configuration.svcinfo
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Service References/JianzhouWebservice/configuration91.svcinfo
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/Settings.cs
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/app.config
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/bin/Debug/JianzhouWS.exe
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/bin/Debug/JianzhouWS.exe.config
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/bin/Debug/JianzhouWS.pdb
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/bin/Debug/JianzhouWS.vshost.exe
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/bin/Debug/JianzhouWS.vshost.exe.config
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/bin/Debug/JianzhouWS.vshost.exe.manifest
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/GenerateResource-ResGen.read.1.tlog
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/GenerateResource-ResGen.write.1.tlog
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/JianzhouWS.Form1.resources
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/JianzhouWS.Properties.Resources.resources
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/JianzhouWS.csproj.FileListAbsolute.txt
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/JianzhouWS.exe
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/JianzhouWS.pdb
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/JianzhouWS/obj/x86/Debug/TempPE/Service References.JianzhouWebservice.Reference.cs.dll
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/Web引用方式/JianzhouWS/VS2010制作，其他版本请自行修改.txt
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(C#)/建周短信平台WebService说明文档.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(Com)/JZSms.dll
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(DLL)/JZSms.dll
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(Java)/CallJZSms.java
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(Java)/jzsms-6.0.jar
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(Java)/建周短信平台WebService说明文档.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(Java)/限JDK1.5以上(包括1.5).txt
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/call_nosms.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/changelog
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.nusoap_base.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.soap_fault.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.soap_parser.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.soap_server.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.soap_transport_http.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.soap_val.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.soapclient.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.wsdl.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.wsdlcache.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/class.xmlschema.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/nusoap.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/lib/nusoapmime.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/nusoap-for-php5.3.php
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(PHP)/建周短信平台WebService说明文档.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/Class1.cls
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/Form1.frm
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/JZSms.dll
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/MSSCCPRJ.SCC
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/Module1.bas
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/Project1.exe
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/Project1.vbp
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/Project1.vbw
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK(VB)/建周短信平台WebService说明文档.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK彩信(java)/DEMO(java)/MmsTest.java
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台SDK彩信(java)/SDK彩信接口说明.doc
/interface/sms/sdk_20140319/Webservice方式(推荐)/建周短信平台WebService说明文档.doc
