<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redcard.report.dao.mybatis.ReportMapper">
    <select id="yeJiDay" parameterType="map"
            resultType="com.redcard.report.entity.YeJiDay">
        SELECT DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0) as reportDate
        ,b.fldUserName as userName
        ,d.fldDeptName as deptName
        ,sum(a.fldPerformanceMoney) as totalMoney
        FROM tblCustomerContract a
        LEFT JOIN tblUser b ON a.fldFinancialUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        where 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0) >= #{startDate}
        </if>
        <if test="endDate != null">
            and DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0) &lt;= #{endDate}
        </if>
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
    </select>
    <select id="yeJiMonth" parameterType="map"
            resultType="com.redcard.report.entity.YeJiMonth">
        SELECT DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0) as reportDate
        ,b.fldUserName as userName
        ,d.fldDeptName as deptName
        ,sum(a.fldPerformanceMoney) as totalMoney
        FROM tblCustomerContract a
        LEFT JOIN tblUser b ON a.fldFinancialUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        where 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0) >= #{startDate}
        </if>
        <if test="endDate != null">
            and DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0) &lt;= #{endDate}
        </if>
        GROUP BY DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
    </select>
    <select id="callOutDay" parameterType="map"
            resultType="com.redcard.report.entity.CallOutDay">
        select a.*
        ,isnull(b.totalValidCallNum,0) as totalValidCallNum
        ,c.item0
        ,c.item3
        ,c.item5
        ,c.item9
        ,c.item10
        ,d.count0
        ,d.count3
        ,d.count5
        ,d.count9
        ,d.count10
        from (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,isnull(sum(isnull(a.fldCallLong, 0)),0) AS totalValidCallLong
        ,isnull(sum(isnull(a.fldTotalDuration, 0)),0) AS totalCallLong
        ,count(DISTINCT a.fldPhone) AS totalCutomerNum
        ,count(*) AS totalCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate >= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) a left join (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,count(*) AS totalValidCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        AND a.fldCalllong != 0
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) b on a.reportDate = b.reportDate and a.userName = b.userName and a.deptName = b.deptName
        left join (SELECT b.reportDate
        ,b.userName
        ,b.deptName
        ,isnull(b.[0], 0) AS item0
        ,isnull(b.[3], 0) AS item3
        ,isnull(b.[5], 0) AS item5
        ,isnull(b.[9], 0) AS item9
        ,isnull(b.[10], 0) AS item10
        FROM (
        SELECT *
        FROM (
        SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,a.fldResultType
        ,sum(fldCallLong) calllong
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1 = 1
        AND a.fldCalllong != 0
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
        ,a.fldResultType
        ) a
        pivot(sum(a.calllong) FOR a.fldResultType IN ([0], [3], [5], [9], [10])) AS ourpivot
        ) b
        ) c on a.reportDate = c.reportDate and a.userName = c.userName and a.deptName = c.deptName
        left join (SELECT b.reportDate
        ,b.userName
        ,b.deptName
        ,isnull(b.[0], 0) AS count0
        ,isnull(b.[3], 0) AS count3
        ,isnull(b.[5], 0) AS count5
        ,isnull(b.[9], 0) AS count9
        ,isnull(b.[10], 0) AS count10
        FROM (
        SELECT *
        FROM (
        SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,a.fldResultType
        ,COUNT(*) AS num
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1 = 1
        AND a.fldCalllong != 0
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
        ,a.fldResultType
        ) a
        pivot(sum(a.num) FOR a.fldResultType IN ([0], [3], [5], [9], [10])) AS ourpivot
        ) b ) d on a.reportDate = d.reportDate and a.userName = d.userName and a.deptName = d.deptName
        WHERE 1=1
        <if test="totalCallLongStart != null">
            and a.totalValidCallLong > #{totalCallLongStart}
        </if>
        <if test="totalCallLongEnd != null">
            and a.totalValidCallLong &lt; #{totalCallLongEnd}
        </if>
        order by a.reportDate, a.totalValidCallLong desc
    </select>
    <select id="callInDay" parameterType="map"
            resultType="com.redcard.report.entity.CallInDay">
        select a.*, isnull(b.totalValidCallNum,0) as totalValidCallNum
        from (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,isnull(sum(isnull(a.fldCallLong, 0)),0) AS totalValidCallLong
        ,isnull(sum(isnull(a.fldTotalDuration, 0)),0) AS totalCallLong
        ,count(DISTINCT a.fldPhone) AS totalCutomerNum
        ,count(*) AS totalCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate >= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 1
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) a left join (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,count(*) AS totalValidCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        AND a.fldCalllong != 0
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate >= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 1
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) b on a.reportDate = b.reportDate and a.userName = b.userName and a.deptName = b.deptName
        WHERE 1=1
        <if test="totalCallLongStart != null">
            and a.totalValidCallLong > #{totalCallLongStart}
        </if>
        <if test="totalCallLongEnd != null">
            and a.totalValidCallLong &lt; #{totalCallLongEnd}
        </if>
        order by a.reportDate, a.totalValidCallLong desc
    </select>

    <select id="callOutDayImport" parameterType="map"
            resultType="com.redcard.report.entity.CallOutDayImport">
        select a.*
        ,isnull(b.totalValidCallNum,0) as totalValidCallNum
        ,isnull(c.item0,0) as item0
        ,isnull(c.item3,0) as item3
        ,isnull(c.item5,0) as item5
        ,isnull(c.item9,0) as item9
        ,isnull(c.item10,0) as item10
        ,isnull(d.count0,0) as count0
        ,isnull(d.count3,0) as count3
        ,isnull(d.count5,0) as count5
        ,isnull(d.count9,0) as count9
        ,isnull(d.count10,0) as count10
        from (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,f.fldName as importName
        ,isnull(sum(isnull(a.fldCallLong, 0)),0) AS totalValidCallLong
        ,isnull(sum(isnull(a.fldTotalDuration, 0)),0) AS totalCallLong
        ,count(DISTINCT a.fldPhone) AS totalCutomerNum
        ,count(*) AS totalCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        left join tblTelephoneTask e on a.fldTaskId = e.fldId
        left join tblTelephoneImport f on e.fldImportId = f.fldId
        WHERE 1=1
        <if test="importName != null">
            and f.fldName like #{importName}
        </if>
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
        ,f.fldName) a left join (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,f.fldName as importName
        ,count(*) AS totalValidCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        left join tblTelephoneTask e on a.fldTaskId = e.fldId
        left join tblTelephoneImport f on e.fldImportId = f.fldId
        WHERE 1=1
        AND a.fldCalllong != 0
        <if test="importName != null">
            and f.fldName like #{importName}
        </if>
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
        ,f.fldName) b on a.reportDate = b.reportDate and a.userName = b.userName and a.deptName = b.deptName and a.importName = b.importName
        left join (SELECT b.reportDate
        ,b.userName
        ,b.deptName
        ,b.importName
        ,isnull(b.[0], 0) AS item0
        ,isnull(b.[3], 0) AS item3
        ,isnull(b.[5], 0) AS item5
        ,isnull(b.[9], 0) AS item9
        ,isnull(b.[10], 0) AS item10
        FROM (
        SELECT *
        FROM (
        SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,f.fldName as importName
        ,a.fldResultType
        ,sum(fldCallLong) calllong
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        left join tblTelephoneTask e on a.fldTaskId = e.fldId
        left join tblTelephoneImport f on e.fldImportId = f.fldId
        WHERE 1 = 1
        AND a.fldCalllong != 0
        <if test="importName != null">
            and f.fldName like #{importName}
        </if>
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
        ,a.fldResultType
        ,f.fldName
        ) a
        pivot(sum(a.calllong) FOR a.fldResultType IN ([0], [3], [5], [9], [10])) AS ourpivot
        ) b
        ) c on a.reportDate = c.reportDate and a.userName = c.userName and a.deptName = c.deptName and a.importName = c.importName
        left join (SELECT b.reportDate
        ,b.userName
        ,b.deptName
        ,b.importName
        ,isnull(b.[0], 0) AS count0
        ,isnull(b.[3], 0) AS count3
        ,isnull(b.[5], 0) AS count5
        ,isnull(b.[9], 0) AS count9
        ,isnull(b.[10], 0) AS count10
        FROM (
        SELECT *
        FROM (
        SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,f.fldName as importName
        ,a.fldResultType
        ,COUNT(*) AS num
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        left join tblTelephoneTask e on a.fldTaskId = e.fldId
        left join tblTelephoneImport f on e.fldImportId = f.fldId
        WHERE 1 = 1
        AND a.fldCalllong != 0
        <if test="importName != null">
            and f.fldName like #{importName}
        </if>
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
        ,a.fldResultType
        ,f.fldName
        ) a
        pivot(sum(a.num) FOR a.fldResultType IN ([0], [3], [5], [9], [10])) AS ourpivot
        ) b ) d on a.reportDate = d.reportDate and a.userName = d.userName and a.deptName = d.deptName and a.importName = d.importName
        WHERE 1=1
        order by a.reportDate, a.totalValidCallLong desc
    </select>
</mapper>