<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redcard.report.dao.mybatis.ReportMapper">
    <select id="yeJiDay" parameterType="map"
            resultType="com.redcard.report.entity.YeJiDay">
        SELECT DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0) as reportDate
        ,b.fldUserName as userName
        ,d.fldDeptName as deptName
        ,sum(a.fldPerformanceMoney) as totalMoney
        FROM tblCustomerContract a
        LEFT JOIN tblUser b ON a.fldFinancialUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        where 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0) >= #{startDate}
        </if>
        <if test="endDate != null">
            and DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0) &lt;= #{endDate}
        </if>
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldSignDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
    </select>
    <select id="yeJiMonth" parameterType="map"
            resultType="com.redcard.report.entity.YeJiMonth">
        SELECT DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0) as reportDate
        ,b.fldUserName as userName
        ,d.fldDeptName as deptName
        ,sum(a.fldPerformanceMoney) as totalMoney
        FROM tblCustomerContract a
        LEFT JOIN tblUser b ON a.fldFinancialUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        where 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0) >= #{startDate}
        </if>
        <if test="endDate != null">
            and DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0) &lt;= #{endDate}
        </if>
        GROUP BY DATEADD(month, DATEDIFF(month, 0, a.fldSignDate), 0)
        ,b.fldUserName
        ,d.fldDeptName
    </select>
    <select id="callOutDay" parameterType="map"
            resultType="com.redcard.report.entity.CallOutDay">
        select a.*, isnull(b.totalValidCallNum,0) as totalValidCallNum
        from (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,isnull(sum(isnull(a.fldCallLong, 0)),0) AS totalValidCallLong
        ,isnull(sum(isnull(a.fldTotalDuration, 0)),0) AS totalCallLong
        ,count(DISTINCT a.fldPhone) AS totalCutomerNum
        ,count(*) AS totalCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate >= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) a left join (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,count(*) AS totalValidCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        AND a.fldCalllong = 0
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate>= #{startDate}
        </if>
        <if test="endDate != null">
            and  a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 0
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) b on a.reportDate = b.reportDate and a.userName = b.userName and a.deptName = b.deptName
        WHERE 1=1
        <if test="totalCallLongStart != null">
            and a.totalValidCallLong > #{totalCallLongStart}
        </if>
        <if test="totalCallLongEnd != null">
            and a.totalValidCallLong &lt; #{totalCallLongEnd}
        </if>
        order by a.reportDate, a.totalValidCallLong desc
    </select>
    <select id="callInDay" parameterType="map"
            resultType="com.redcard.report.entity.CallInDay">
        select a.*, isnull(b.totalValidCallNum,0) as totalValidCallNum
        from (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,isnull(sum(isnull(a.fldCallLong, 0)),0) AS totalValidCallLong
        ,isnull(sum(isnull(a.fldTotalDuration, 0)),0) AS totalCallLong
        ,count(DISTINCT a.fldPhone) AS totalCutomerNum
        ,count(*) AS totalCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate >= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 1
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) a left join (SELECT DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0) AS reportDate
        ,b.fldUserName AS userName
        ,d.fldDeptName AS deptName
        ,count(*) AS totalValidCallNum
        FROM tblTelephoneRecord a
        LEFT JOIN tblUser b ON a.fldCreateUserNo = b.fldLoginName
        LEFT JOIN tblUserDeptLink c ON b.fldLoginName = c.fldLoginName
        LEFT JOIN tblDept d ON c.fldDeptCode = d.fldDeptCode
        WHERE 1=1
        AND a.fldCalllong = 0
        <if test="deptName != null">
            and d.fldDeptName like #{deptName}
        </if>
        <if test="userName != null">
            and b.fldUserName like #{userName}
        </if>
        <if test="startDate != null">
            and a.fldCallDate >= #{startDate}
        </if>
        <if test="endDate != null">
            and a.fldCallDate &lt;= #{endDate}
        </if>
        AND a.fldCallType = 1
        GROUP BY DATEADD(day, DATEDIFF(day, 0, a.fldCallDate), 0)
        ,b.fldUserName
        ,d.fldDeptName) b on a.reportDate = b.reportDate and a.userName = b.userName and a.deptName = b.deptName
        WHERE 1=1
        <if test="totalCallLongStart != null">
            and a.totalValidCallLong > #{totalCallLongStart}
        </if>
        <if test="totalCallLongEnd != null">
            and a.totalValidCallLong &lt; #{totalCallLongEnd}
        </if>
        order by a.reportDate, a.totalValidCallLong desc
    </select>
</mapper>